<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/study.css">
    <link rel="shortcut icon" href="../img/icon.ico">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <title>Dreaming Birds</title>
</head>

<body>
    <div class="root">

		<div id="header"> </div>
  
        <div class="container">
            <div id="menu"> </div>
            <div class="content">
                <div class="main">
                    <div class="mode">
                        <div class="top">
                            <div class="left-btn">
                                <button> &lt; </button>
                            </div>
                            <div class="right-btn">
                                <button> &gt; </button>
                            </div>
                            <div class="group-content">
                                <div class="warning">
                                    <img src="../img/icon/warning.png">
                                    <span>경고</span>
                                </div>
                                <div class="group-name">한 눈 팔다 먹이가 도망가도 전 몰라요!</div>
                                <div class="group-now">1/1</div>
                            </div>
                        </div>
                        <div class="mid">
                            <div class="left">
                                <div class="cam">
                                    <!-- <img class="excam" src="../img/study/cam_ex.png"> -->
                                    <div id="webcam-container"></div>
                                    <div id="label-container"></div>
                                </div>
                                <form id="timer" class="timer" method="post">
                                    <input id="all-focus-time" class="all-focus-time" name="all_focus_time" value="00:00:00" readonly>
                                    <div id="detail-box">
                                        <div class="detail-time">
                                            <div class="inner-timer sub-timer">
                                                <div class="sub-name">수학</div>
                                                <div class="sub-time">
                                                    <input id="sub-time" name="sub_time" value="00:00:00" readonly>
                                                </div>
                                            </div>
                                            <div class="inner-timer now-focus-timer">
                                                <div class="now-focus-ment">현재 집중 시간</div>
                                                <div id="now-focus-time" class="now-focus-time"></div>
                                            </div>
                                        </div>
                                        <div class=timer-controll>
                                            <button id="startbtn" class="start-btn" type="button">시작</button>
                                            <button id="chgbtn" class="change-sub" type="submit" onclick="javascript: form.action='/study/timer?sid=<%=subject_id%>&sub=chg'">과목 변경</button>
                                            <button type="submit" id="stopbtn" class="finish" onclick="javascript: form.action='/study/timer?sid=<%=subject_id%>&sub=stp'">종료</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="right">
                                <div class="level">
                                    <div class="level-img">
                                        <img src="../img/birds/chick.png">
                                    </div>
                                    <div class="level-content">
                                        <div class="level-name">1단계 새알</div>
                                        <div class="level-info">01:43:25</div>
                                    </div>
                                </div>
                                <div class="checklist">
                                    <div class="check-name">오늘의 꿈</div>
                                    <ul class="js-toDoList">
                                    </ul>
                                    <div class="check-add">추가하기</div>
                                </div>
                            </div>
                        </div>

                        <div class="company-info">ⓒ 2021 by Team Dreaming Birds</div>
                    </div>
                </div>
                <div class="ranking">

                    <div class="user">
                        <div class="user-info">
                            <div class="user-profile"><img src="<%= user.profile_src %>" name="profile_src"></div>

                            <div class="user-name">
                                <%= user.nickname %>
                            </div>
                            <div class="user-time">13:26</div>
                        </div>
                        <div class="user-bird"><img src="../img/study/bird.png"></div>
                    </div>

                </div>
            </div>
            <!--end of content-->
        </div>
        <div id="loader-wrapper">
            <img src="../img/birds/loading_bird.gif">
            <div id="famous-saying">
                <p></p>
                <p></p>
            </div>
        </div>
    </div>
</body>
<p id="subject-id" data-subject_id=<%= JSON.stringify(subject_id).replaceAll(" ", "&nbsp;")  %>> </p>
<script>
    let user = "<%=JSON.stringify(user)%> ";
	user = user.replaceAll("&#34;", "\"");
	user = JSON.parse(user);

    let subjectId = "<%= JSON.stringify(subject_id) %>";
    subjectId = subjectId.replaceAll("&#34;","\"");
    subjectId = JSON.parse(subjectId);
    console.log(subjectId);


</script>
<script type="text/javascript" src="../js/header.js"></script>
<script type="text/javascript" src="../js/menu.js"></script>
<script type="text/javascript" src="../js/famous_saying.js"></script>
<script type="text/javascript" src="../js/stopwatch.js"></script>

<!-- teachable machine -->
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.3.1/dist/tf.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@teachablemachine/image@0.8/dist/teachablemachine-image.min.js"></script>
<script type="text/javascript" src="../js/study.js"></script>

</html>